/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}

nav {
	background-color: #808080
}

a {
	color: white;
	background-color: #ffbf00;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
	background-color: #ee5f3c;
}

body {
	text-align: center;
}

footer {
	background-color: #808080;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 10px;
	background-color: rgb(255, 255, 0);
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}